body {

margin: 0;

padding: 0;

height: 100vh;

overflow: hidden;

}



.container {

position: relative;

height: 100%;

width: 100%;

overflow-y: auto;

}



.animated-background {

position: absolute;

top: 0;

left: 0;

width: 100%;

height: 100%;

background-image: url("https://www.freepik.es/fotos-vectores-gratis/fondo-animado"); /* Reemplaza con la URL de tu imagen */

background-size: cover;

background-position: center;

animation: moveBackground 10s linear infinite;

}



@keyframes moveBackground {

0% {

background-position: 0% 0%;

}

100% {

background-position: 100% 100%;

}

}